# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_CRADIO_DONGLE || SHIELD_CRADIO_NORM_LEFT || SHIELD_CRADIO_NORM_RIGHT

config ZMK_KEYBOARD_NAME
	default "The CRADIO"

endif

if SHIELD_CRADIO_DONGLE_LEFT || SHIELD_CRADIO_DONGLE_RIGHT || SHIELD_CRADIO_NORM_RIGHT

config ZMK_SPLIT
	default y

endif



if SHIELD_CRADIO_DONGLE || SHIELD_CRADIO_NORM_LEFT

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
